body {
	background-image: url('../images/qbkls.png');
}

p {
	color: #666666;
	line-height: 1.5em;
	font-size: 1.2em;
}

h4 {
	color: #4aaaa5;
}

.flex-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.container-fluid {
	padding: 0;
	background-color: #fff;
}

.container {
	padding: 0;
}

.header {
	border-bottom: 1px solid #ccc;
}

.navbar-brand {
	background-color: #4aaaa5;
	color: #fff;
	margin: 0;
	padding: 20px 30px;
}

.nav-link {
	color: #777777;
}

.nav-link:hover {
	color: #4aaaa5;
}

.content {
	background-color: #fff;
}

.btn-info {
	background-color: #4aaaa5;
}

footer.container-fluid {
	color: #fff;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 768px) {
	.navbar-brand {
		display: block;
		margin: 0;
	}
	.container {
		min-width: 100%;
		overflow: hidden;
	}
}
